* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 20px;
}

.assign-1 {
  background-color: #eee;
  width: 300px;
  height: 200px;
  margin: 40px auto;
  color: #0053b8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assign-1::before {
  content: "";
  width: 102%;
  height: 102%;
  position: absolute;
  background-color: #0053b8;
  transform: rotate(5deg);
  z-index: -1;
}

.assign-1::after {
  content: "";
  width: 102%;
  height: 102%;
  position: absolute;
  background-color: #cc1b4a;
  transform: rotate(-5deg);
  z-index: -1;
}

.assign-2 {
  width: 200px;
  height: 200px;
  background-color: #eee;
  margin: 40px auto;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assign-2::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  border: 8px solid #cc1b4a;
  border-left-color: transparent;
  border-radius: 50%;
}

.assign-2::after {
  content: "";
  width: 216px;
  height: 216px;
  position: absolute;
  border: 8px solid #0053b8;
  border-right-color: transparent;
  left: -16px;
  top: -16px;
  border-radius: 50%;
}

.assign-3 {
  width: 200px;
  height: 200px;
  background-color: #eee;
  margin: 40px auto;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assign-3::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  border: 8px solid #cc1b4a;
  border-left-color: transparent;
  border-radius: 50%;
}

.assign-3:hover::before {
  transition-duration: 0.5s;
  transform: rotate(360deg);
}

.assign-3::after {
  content: "";
  width: 216px;
  height: 216px;
  position: absolute;
  border: 8px solid #0053b8;
  border-right-color: transparent;
  left: -16px;
  top: -16px;
  border-radius: 50%;
}

.assign-3:hover::after {
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transform: rotate(360deg);
}
