div {
  color: white;
  padding: 10px;
  margin: -8px;
  text-align: center;
}

#di1 {
  height: 500px;
  background-image: url(imgs/mufix.png);
  background-size: 100% 600px;
}

#di2 {
  background-color: red;
  height: 220px;
}

button {
  color: white;
  background-color: red;
  height: 35px;
  margin-left: 20px;
  border: 2px solid red;
  border-radius: 15px;
  width: fit-content;
  font-size: large;
}

#di2 button {
  border: 2px solid white;
  width: 120px;
}

@font-face {
  font-family: Pacifico-Regular;
  src: url(fonts/Pacifico-Regular.ttf);
}

h1 {
  font-family: "Pacifico-Regular";
}
